body {
    background-color: #333333;   
}

.Title {
    font-size: 1.2em;
    font-family: sans-serif;

    width: 90%;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    margin-top: 27px;
    padding-top: 1px;
    padding-bottom: 3%;

    background-color: #4e4e4e;
    color: #d2d2d2;
    
}

a#github{
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: #d2d2d2;

    background-color: #ac1c1c;
}

.Projects {
    width: 90%;
    margin: auto;
    margin-top: 3%;
}

.Project {
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;

    text-align: center;
    border-radius: 15px;
    padding: 1%;
    padding-left: 10%;
    padding-right: 10%;

    background-color: #ac1c1c;
    color: #d2d2d2;
}


#pomodoro {
    float: left;
}

#pokebirthday {
    float: right;
}